extend layout

block content
    form(method='post' action='post/')
        input(
            type='submit'
            value='Send'
        )
        input(
            type='text'
            name='message'
        )